<a href="<%= typeof href !== 'undefined' ? href : '/' %>" class="lockup <%= typeof size !== 'undefined' ? size : '' %>" aria-label="AXERO">
  <img class="mark-img" src="/logo_mark.png" alt="" />
  <span class="word">AXERO</span>
</a>
